# Set the default behavior, in case people don't have core.autocrlf set
#* text=auto
* text eol=lf

# Explicitly declaring text files to be normalized to native line endings
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.R text eol=lf
*.md text eol=lf
*.m text eol=lf
*.java text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.pdf binary
*.fig binary
*.xls binary
*.xlsx binary
*.doc binary
*.docx binary
*.zip binary
*.jar binary
